.wrapper {
  width: 100%;
  display: grid;
  margin: auto;
  justify-items: center;
  padding: 110px 0px;
  grid-template-columns: 1fr 1fr 1fr;
}

.project {
  box-shadow: -16px -2px 18px -11px rgba(34, 60, 80, 0.2);
  width: 400px;
  height: 610px;
  background-color: rgba(238, 239, 241, 1);
  padding: 60px 50px;
  margin-bottom: 75px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  transition-duration: 0.3s;
  top: 0;

  &:hover {
    box-shadow: -16px -2px 18px 1px rgba(34, 60, 80, 0.2);
    position: relative;
    top: -7px;
    cursor: pointer;
    transition-duration: 0.3s;
  }
}

.title {
  width: 100%;
  margin-bottom: 35px;
  h1 {
    font-weight: 300;
  }

  span {
    color: rgb(136, 135, 135);
    font-size: 14px;
  }
}

.project__details {
  width: 100%;
  line-height: 35px;
  font-weight: 200;
  justify-content: space-between;
  margin-bottom: 35px;
  li {
    list-style-type: none;
  }
  span {
    margin-bottom: 10px;
    font-weight: 600;
  }
}

.role {
  width: 100%;
  margin-bottom: 40px;
  span {
    color: #34547a;
    font-weight: 600;
    font-size: 15px;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  button {
    width: 120px;
    border: none;
    padding: 15px 40px;
    background-color: #34547a;
    cursor: pointer;
    color: white;
    transition-duration: 0.3s;

    &:hover {
      background-color: rgb(0, 255, 132);
      color: #34547a;
    }
  }
}
