.header {
  width: 100%;
  display: flex;
  padding: 20px 0px;
  background-color: rgba(238, 239, 241, 1);
  justify-content: space-between;
}

.logo {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 10%;
  }
}

.navbar {
  width: 50%;
  display: flex;
  align-items: center;
  a {
    margin-right: 12px;
    text-decoration: none;
    font-size: 15px;
    color: rgba(0, 0, 0, 1);
    transition-duration: 0.3s;

    &:hover {
      color: #34547a;
      transition-duration: 0.3s;
    }
  }
}
