.footer {
  width: 100%;
  display: flex;
  background-color: #34547a;
  padding: 80px 180px;
  color: white;
}

.inicials {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  p {
    margin-bottom: 10px;
  }

  span {
      font-size: 14px;
      color: rgb(164, 162, 162);
  }
}

.logos__bar {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: right;
  img {
      width: 30px;
      height: 30px;
      margin-right: 20px;
  }
}
