.header__main {
  width: 100%;
  background-color: rgba(238, 239, 241, 1);
  margin: auto;
  padding: 110px 0px;
  display: flex;
  justify-content: space-between;
}

.photo__block {
  width: 50%;
  display: flex;
  margin: auto;
  justify-content: right;
  align-items: center;
  img {
    margin-right: 130px;
    width: 30%;
  }
}

.direction {
  width: 50%;
  display: flex;
  height: fit-content;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  h1 {
    font-size: 40px;
    margin-bottom: 25px;
  }
  p {
    width: 65%;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 50px;
  }

  button {
    background-color: #34547a;
    color: white !important;
    border: none;
    cursor: pointer;
    padding: 22px 41px;
    font-size: 15px;
    transition-duration: 0.3s;

    &:hover {
      background-color: rgb(0, 255, 132);
      color: #34547a !important;
    }

    a {
      color: white;
      text-decoration: none;
    }
  }
}
